@import "../../variables.scss";

::-webkit-scrollbar {
  width: 8px;
  /* for vertical scrollbars */
  height: 8px;
  /* for horizontal scrollbars */
}
 ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
 ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

.shell {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
}
