::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}
 ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
 ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.shell {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  .chats {
    float: left;
    width: 360px;
    height: 100%;
    .chats-list {
      height: calc(100% - 64px);
      overflow-y: auto;
    }
  }
  .chat-container {
    float: left;
    height: 100%;
  }
}
